ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 267px;
    height:713px;
    background-color: black;
 
  }
  
  li a {
    display: flex;
    align-items: center;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  /* Change the link color on hover */
  li a:hover {
    text-shadow:1px 1px 5px white;
  }

  #logo{
    width:250px;
  }